<%= yield %>

<br><br><br>
<hr>

<a href="/">Home</a> | 
<a href="/my_profile">Edit profile</a> |
<a href="/listing">See listing</a> |
<a href="/logout">Logout</a>

<br><br>

<span style="color: blue;">
  <%= Time.now %> 
</span>

